@page "/bip"


@using BevragingIngeschrevenPersonen.Types;
@using BevragingIngeschrevenPersonen;


<h3>Zoek Persoon</h3>

<input @bind="inp" class="input-group-text" alt="ZoekCriteria" />
<button @onclick="ZoekIngeschrevenPersoon">Zoek</button>

@code {
    Bevrager bevrager = new Bevrager();

    public string inp { get; set; }

    private Persoon persoon;

    private void ZoekIngeschrevenPersoon()
    {
        persoon = bevrager.GetPersoon(inp);
    }
}
