@page "/bip"

@using BevragingIngeschrevenPersonen.Types;
@using BevragingIngeschrevenPersonen;

<h3>Zoek Persoon</h3>

@*999993653*@
<input @bind="inp" alt="ZoekCriteria" />
<button @onclick="ZoekIngeschrevenPersoon">Zoek</button>

@if (persoonCompositie != null && persoonCompositie.Persoon != null && !(persoonCompositie.Persoon is PersoonNietGevonden))
{
    <button>Ouders</button>
    <button>Kinderen</button>
    <button>Medebewoners</button>
}

<div style="height:20px;"></div>



<BipPersoonDetail @bind-Persoon="persoonCompositie.Persoon"></BipPersoonDetail>

@if (persoonCompositie.Ouders != null)
{
    @foreach (var ouder in persoonCompositie.Ouders)
    {
        <BipPersoonDetail @bind-PersoonContext="ouder.SoortRelatie" @bind-Persoon="ouder.Persoon"></BipPersoonDetail>
    }
}

@code {
    Bevrager bevrager = new Bevrager();

    public string inp { get; set; }

    private PersoonCompositie persoonCompositie = new PersoonCompositie();

    private void ZoekIngeschrevenPersoon()
    {
        persoonCompositie.Persoon = bevrager.GetPersoon(inp);
    }

    private void ZoekOuders()
    {
        persoonCompositie.Ouders = new List<Relatie>();
        int i = 1;
        foreach (var ouder in bevrager.GetOuders(inp))
        {
            persoonCompositie.Ouders.Add(
                new Relatie
                {
                    SoortRelatie = "Ouder" + i++,
                    Persoon = ouder
                }
                );
        }
    }


}
