@page "/bip"

@using BevragingIngeschrevenPersonen.Types;
@using BevragingIngeschrevenPersonen;

<h3>Zoek Persoon</h3>

@*999993653*@
<input @bind="inp" alt="ZoekCriteria" />
<button @onclick="ZoekIngeschrevenPersoon">Zoek</button>

@if (persoon != null && !(persoon is PersoonNietGevonden))
{
    <button>Ouders</button>
    <button>Kinderen</button>
    <button>Medebewoners</button>
}

<div style="height:20px;"></div>

<BipPersoonDetail @bind-BrpPersoonCompositie="persoonCompositie"></BipPersoonDetail>

@code {
    Bevrager bevrager = new Bevrager();

    public string inp { get; set; }

    private Persoon persoon;
    private PersoonCompositie persoonCompositie;

    private void ZoekIngeschrevenPersoon()
    {
        persoon = bevrager.GetPersoon(inp);
        persoonCompositie = new PersoonCompositie { Persoon = persoon };
}
}
