@page "/bip"


@using BevragingIngeschrevenPersonen.Types;
@using BevragingIngeschrevenPersonen;

<h3>Zoek Persoon</h3>

<input @bind="inp" alt="ZoekCriteria" />
<button @onclick="ZoekIngeschrevenPersoon">Zoek</button>

<BipPersoonDetail @bind-BrpPersoon="persoon"></BipPersoonDetail>

@code {
    Bevrager bevrager = new Bevrager();

    public string inp { get; set; }

    private Persoon persoon;

    private void ZoekIngeschrevenPersoon()
    {
        persoon = bevrager.GetPersoon(inp);
    }
}
