@page "/bip"

@using BevragingIngeschrevenPersonen.Types;
@using BevragingIngeschrevenPersonen;

<h3>Zoek Persoon</h3>

@*999993653*@
<input @bind="inp" alt="ZoekCriteria" />
<button @onclick="ZoekIngeschrevenPersoon">Zoek</button>

@if (persoonCompositie != null && persoonCompositie.Persoon != null && !(persoonCompositie.Persoon is PersoonNietGevonden))
{
    <button @onclick="ZoekOuders">Ouders</button>
    <button @onclick="ZoekKinderen">Kinderen</button>
    <button>Medebewoners</button>
}

<div style="height:20px;"></div>


@if (persoonCompositie.Ouders != null)
{
    @foreach (var ouder in persoonCompositie.Ouders)
    {
        <BipPersoonDetail @bind-PersoonContext="ouder.SoortRelatie" @bind-Persoon="ouder.Persoon"></BipPersoonDetail>
    }
}
else
{
    //<BipPersoonDetail @bind-PersoonContext=@("Ouder") @bind-Persoon=@(new PersoonNietGevonden())></BipPersoonDetail>
}

<BipPersoonDetail @bind-Persoon="persoonCompositie.Persoon"></BipPersoonDetail>

@if (persoonCompositie.Kinderen != null)
{
    @foreach (var kind in persoonCompositie.Kinderen)
    {
        <BipPersoonDetail @bind-PersoonContext="kind.SoortRelatie" @bind-Persoon="kind.Persoon"></BipPersoonDetail>
    }
}
else
{
    var foo = "Kind";
    //var bar = new PersoonNietGevonden();
    //<BipPersoonDetail @bind-PersoonContext="foo" @bind-Persoon=null></BipPersoonDetail>*@
}

@code {
    Bevrager bevrager = new Bevrager();

    public string inp { get; set; }

    private PersoonCompositie persoonCompositie = new PersoonCompositie();

    private void ZoekIngeschrevenPersoon()
    {
        persoonCompositie = new PersoonCompositie();
        persoonCompositie.Persoon = bevrager.GetPersoon(inp);
    }

    private void ZoekOuders()
    {
        var bsn = persoonCompositie?.Persoon?.Burgerservicenummer ?? 0;

        persoonCompositie.Ouders = bevrager.GetOuders(bsn.ToString())
            .Select(x => new Relatie { SoortRelatie = "Ouder", Persoon = x }).ToList();
    }

    private void ZoekKinderen()
    {
        var bsn = persoonCompositie?.Persoon?.Burgerservicenummer ?? 0;

        persoonCompositie.Kinderen = bevrager.GetKinderen(bsn.ToString())
            .Select(x => new Relatie { SoortRelatie = "Kind", Persoon = x }).ToList();

    }
}
